.u-section-1 .u-sheet-1 {
  min-height: 15px;
}.u-section-2 .u-sheet-1 {
  min-height: 839px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 15px auto 0 333px;
}

.u-section-2 .u-image-1 {
  width: 174px;
  height: 174px;
  margin: 70px auto 0 365px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -116px 468px 0 auto;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 62px;
  margin: 114px 15px 0 -15px;
}

.u-section-2 .u-form-1 {
  height: 191px;
  width: 570px;
  margin: 25px auto 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 275px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 386px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 211px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 158px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 222px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 99px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    margin-left: 166px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1286px;
}